@use '../../style/variables.scss' as *;
@use '../../style/mediaQueriesMixin.scss' as *;

.button {
  cursor: pointer;
  padding: 0.5em 5em;
  background-color: $light-green;
  border-radius: $button-radius;
  border: none;
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: $dark-green;
    color: white;
  }
}
