@use '../../style/variables.scss' as *;
@use '../../style/mediaQueriesMixin.scss' as *;

.home {
  padding: 1.9em;

  &_authors {
    width: 100%;

    >h1 {
      font-size: $h1;

      @include mediaQuery(tablet) {
        margin-top: 1em;
      }

      @include mediaQuery(laptop_large) {
        margin-top: 2em;
      }
    }
  }
}