$body-bg-color: #F0F0F0;
$border-radius: 11pt;
$button-radius: 27pt;

// color palette
$dark-green: #8DC9B4;
$light-green: #D0E3CD;
$light-blue: #D7ECEC;
$light-red: #FACECB;
$light-orange: #FBE1C5;

// text
$h1: 2em;
$subheading: 1.5em;
$body: 1em;
$additional: 1.25em;
$text-color: #333;
$line-height: 1.7em;