@use '../../style/variables.scss' as *;
@use '../../style/mediaQueriesMixin.scss' as *;

.authors_card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  min-width: 225px;
  width: 225px;
  height: 100%;
  margin-right: 2em;
  background-color: white;
  border-radius: $border-radius;

  @include mediaQuery(tablet) {
    flex-direction: row;
    min-width: 500px;
    width: 550px;
  }

  &_person {
    height: 35%;
    width: 100%;
    text-align: center;

    @include mediaQuery(tablet) {
      width: 35%;
      height: 100%;
      padding: 1.5em 1em;
    }

    > img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &_description {
    padding: 1em;
    font-size: $body;
  }

  &_line {
    width: 80%;
    height: 7px;
    background-color: $light-orange;

    @include mediaQuery(tablet) {
      width: 15px;
      height: 80%;
    }
  }
}
