@use './style/main.scss';
@use './style/variables.scss' as *;
@use './style/mediaQueriesMixin.scss' as *;

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0F0;

  &_full-logo {
    width: 30%;
  }
}