@use './style/main.scss';
@use './style/variables.scss' as *;
@use './style/mediaQueriesMixin.scss' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
  line-height: $line-height;
}

.App,
body,
html {
  background: $body-bg-color;
  scroll-behavior: smooth;
}

* {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background: $light-orange;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $light-green;
  }

  &::-webkit-scrollbar-track:hover {
    background: #e6e6e6;
  }

  &::-webkit-resizer {
    background-color: $light-orange;
    border-radius: 50%;
  }
}

.loader {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: var(--wrapper-bg-color);
  padding: 5em;
  border-radius: var(--border-radius);
}
