@use './style/main.scss';
@use './style/variables.scss' as *;
@use './style/mediaQueriesMixin.scss' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
  line-height: $line-height;
}

.App,
body,
html {
  background: $body-bg-color;
  scroll-behavior: smooth;
}