@use '../../style/variables.scss' as *;
@use '../../style/mediaQueriesMixin.scss' as *;

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: white;
  @include mediaQuery(tablet) {
    height: 60px;
  }

  @include mediaQuery(tablet) {
    position: static;
  }

  &_list {
    height: 100%;
    width: 100%;

    &_active {
      >li > svg *{
        fill: $dark-green;
        stroke: $dark-green;
      }
    }
  }

  &_logo_top {
    width: 30vw;
    transform: rotate(30deg);
  }

  &_logo_bottom {
    display: none;
  }
}
